/* Bỏ arrow cho Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Bỏ arrow cho Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
