.main-content {
	margin: 0 auto;
	margin-top: 50px;
	padding: 16px 32px;
	width: 60%;
	min-width: 700px;
}

.header {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	font-weight: 600 !important;
}

.label-constant {
	margin-left: -17px;
}

.remove-step {
	margin-left: 8px;
	color: red;
	line-height: 30px;
	cursor: pointer;
	align-content: space-evenly;
	& .icon {
		vertical-align: bottom;
	}
	&:hover {
		opacity: 0.7;
	}
}

.ios-switch {
	width: 48px !important;
	height: 24px !important;
	padding: 0 !important;
	margin-left: 20px;
	& .MuiSwitch-switchBase {
		padding: 1px;
		margin: 0;
		transition-duration: 300ms;
		&.Mui-checked {
			transform: translateX(24px);
			color: #fff;
			+ .MuiSwitch-track {
				background-color: #0084ff;
				opacity: 1;
				border: 0;
			}
		}
	}
	& .MuiSwitch-thumb {
		width: 22px;
		height: 22px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
	& .MuiSwitch-track {
		border-radius: 16px;
		background-color: #ccc;
		opacity: 1;
		transition: background-color 300ms;
	}
}
