.dropdown-flag {
	width: 20px;
	height: 15px;
	margin-right: 8px;
	vertical-align: middle;
	border: 1px solid #ccc;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.setting-row {
	margin-bottom: 15px;
}

.ios-switch {
	width: 48px !important;
	height: 24px !important;
	padding: 0 !important;
	margin-left: 20px;
	& .MuiSwitch-switchBase {
		padding: 1px;
		margin: 0;
		transition-duration: 300ms;
		&.Mui-checked {
			transform: translateX(24px);
			color: #fff;
			+ .MuiSwitch-track {
				background-color: #0084ff;
				opacity: 1;
				border: 0;
			}
		}
	}
	& .MuiSwitch-thumb {
		width: 22px;
		height: 22px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
	& .MuiSwitch-track {
		border-radius: 16px;
		background-color: #ccc;
		opacity: 1;
		transition: background-color 300ms;
	}
}
