#alert-modal {
	&.overlay {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.45);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9999;
	}

	& .content {
		width: min(92vw, 420px);
		background: #fff;
		border-radius: 12px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
		padding: 20px;
	}
	& .title {
		font-size: 18px;
		display: flex;
		justify-content: left;
		font-weight: 600;
	}
	& .message {
		margin-top: 12px;
		white-space: pre-wrap;
	}
	& .actions {
		display: flex;
		justify-content: flex-end;
		margin-top: 16px;
	}
	& .ok-button {
		appearance: none;
		border: none;
		background: #2563eb;
		color: #fff;
		padding: 8px 14px;
		border-radius: 8;
		font-weight: 600;
		cursor: pointer;
	}
}
