/* Small Laptop */
@media (max-width: 1200px) {
}

/* Tablet landscape */
@media (max-width: 992px) {
}

/* Tablet portrait */
@media (max-width: 768px) {
	.main-content {
		border: none;
		margin: 0 auto;
		padding: 16px 32px;
		width: 90%;
		max-width: 100%;
		min-width: 0;
	}
}

/* Mobile */
@media (max-width: 480px) {
	.main-content {
		border: none;
		margin: 0 auto;
		padding: 8px 16px;
		width: 100%;
		max-width: 100%;
		min-width: 0;
	}
}

/* Small Mobile (iPhone SE, small Android) */
@media (max-width: 375px) {
}
